@model Backend.Marca

@{ 
    var paises = new Backend.PaisRepositorio().ListarTodos().OrderBy(x => x.Nome);
    //var paisesSelect = new SelectList(paises, "Id", "Nome");
}

<h1>Cadastro de marcas</h1>

@using (Html.BeginForm("Create", "Marca", FormMethod.Post))
    
{

<div class="col-md-3">
    <div class="form-group">
        @Html.HiddenFor(x => x.Id)
        @Html.Label("Nome")
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Origem")
        @Html.DropDownList("IdPais", ViewBag.selectPaises , "selecione", new { @class = "form-control" })
    </div>

    <input type="submit" value="Salvar" class="btn btn-primary" />
</div>

}
