@model Backend.Carro

<h1>Cadastro de carros</h1>

@using (Html.BeginForm("Create", "Carro", FormMethod.Post))
{

<div class="col-md-3">
    <div class="form-group">
        @Html.HiddenFor(x => x.Id)
        @Html.Label("Nome")
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Cor")
        @Html.TextBoxFor(x => x.Cor, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Placa")
        @Html.TextBoxFor(x => x.Placa, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Marca")
        @Html.DropDownList("IdMarca", ViewBag.selectMarcas, "selecione", new { @class = "form-control" })
    </div>

    <input type="submit" value="Salvar" class="btn btn-primary" />
</div>

}