@model IEnumerable<Backend.Carro>

<h1>Carros</h1>


@Html.ActionLink("Cadastrar", "Create", "Carro", null, new { @class = "btn btn-primary" })

<table class="table table-responsive mt-3">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Cor</th>
        <th>Placa</th>
        <th>Marca</th>
        <th></th>
    </tr>
    @foreach (var carro in Model)
    {
<tr>
    <td>@carro.Id</td>
    <td>@carro.Nome</td>
    <td>@carro.Cor</td>
    <td>@carro.Placa</td>
    <td>@carro.Marca.Nome</td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = carro.Id })

        @Html.ActionLink("Excluir", "Delete", new { id = carro.Id }, new { onclick = "return confirm('Deseja realmente excluir?');" })

    </td>
</tr>
    }
</table>

